<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Course</title>
</head>
<body style="background-color: #25274d;">
    <nav class="navbar navbar-thick-blue bg-light">
        <pre> <h1>   INDIAN INSTITUTE OF TECHNOLOGY INDORE</h1></pre>
    
      </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <div class="row" style="background-color: rgba(0, 0, 0, 0.514);">
        <div class="col-9">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark" ">
    
          <a class=" navbar-brand" href="#">Find Courses</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home<span class="sr-only"></span></a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-3" style="margin-top: 10px; text-align:center;">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="submit" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Select Department
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="/course_list/Computer Science and Engineering">Computer Science and
                  Engineering</a></li>
              <li><a class="dropdown-item" href="/course_list/Civil Engineering">Civil Engineering</a></li>
              <li><a class="dropdown-item" href="/course_list/Electrical Engineering">Electrical Engineering</a></li>
              <li><a class="dropdown-item" href="/course_list/Mechanical Engineering">Mechanical Engineering</a></li>
              <li><a class="dropdown-item" href="/course_list/Metallurgical Engineering And Material Science">Metallurgical Engineering And Material
                  Science</a></li>
            </ul>
          </div>
        </div>
      </div>
    
    

    {% if check!=True %}
    <h1 align="center" style="color: rgba(0, 245, 61, 0.904); margin: 5px; font-size: 1.1rem;"> Please Select a Department</h1>

    {% else %}

        <h1 align="center" style="color: red; margin: 5px; font-size: 2.1rem;">Courses of {{ d_name }}</h1><br>

        <div class="container">
            <div class="row" style="color: white;">
        <form action="/course_list/{{ d_name }}" method="post" style="display: flex;">
            <br>
            <div class="col-4">
            <label for="faculty">Faculty:</label>
            <div class="form-group" style="margin-bottom: 20px; margin-top: 8px;">
                <!-- <SELECT name="course" id="course" class="form-control">
                    {% for faculty in session.faculty %}
                    <option value="{{ faculty[1] }}" id="{{ faculty[1] }}">{{ faculty[1] }}-{{ faculty[0] }}  </option>
                    {% endfor %}
                    <option value="All">All</option>
                  </SELECT> -->
             <select name="faculty" id="faculty" class="form-control">
            <option value="None"> None  </option>
            {% for faculty in session.faculty %}
                <option value="{{ faculty[1] }}" id="{{ faculty[1] }}">{{ faculty[1] }}-{{ faculty[0] }}  </option>
            {% endfor %}
            </select>
            </div> 
        </div>
        <div class="col-4" style="margin-left: 10px;" >
            <div class="mb-3">

            <label for="start_year" class="form-label">Start Year:</label>
                <select name="start_year" id="start_year" class="form-control">
                <option value="None" > None  </option>
                <option value="2011" id="2011s"> 2011  </option>
                <option value="2012" id="2012s"> 2012  </option>
                <option value="2013" id="2013s"> 2013  </option>
                <option value="2014" id="2014s"> 2014  </option>
                <option value="2015" id="2015s"> 2015  </option>
                <option value="2016" id="2016s"> 2016  </option>
                <option value="2017" id="2017s"> 2017  </option>
                <option value="2018" id="2018s"> 2018  </option>
                <option value="2019" id="2019s"> 2019  </option>
                <option value="2020" id="2020s"> 2020  </option>
            </select>
        </div>
    </div>
    <div class="col-4" style="margin-left: 10px;">
        <div class="mb-3">
            <label for="end_year" class="form-label">End Year:</label>
            <select name="end_year" id="end_year" class="form-control">
                <option value="None" > None  </option>
                <option value="2011" id="2011e"> 2011  </option>
                <option value="2012" id="2012e"> 2012  </option>
                <option value="2013" id="2013e"> 2013  </option>
                <option value="2014" id="2014e"> 2014  </option>
                <option value="2015" id="2015e"> 2015  </option>
                <option value="2016" id="2016e"> 2016  </option>
                <option value="2017" id="2017e"> 2017  </option>
                <option value="2018" id="2018e"> 2018  </option>
                <option value="2019" id="2019e"> 2019  </option>
                <option value="2020" id="2020e"> 2020  </option>
            </select><br>
        </div>
    </div>
  </div>
  <div style="color: white; text-align: center;">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
        </form>
        <br>
        </div>
        

        <div class="container my-3">
        {% if course|length == 0 %}
        <h2 style="color: rgba(0, 245, 61, 0.904); margin: 5px; font-size: 1.6rem;">No Courses to Display</h2>
        {% else %}
        <table class="table table-success table-stripped">
            {% if ((course[0]).0)|length !=0 %}
          <th scope="col">Course ID</th>
          {% endif %}
          {% if ((course[0]).1)|length !=0 %}
          <th scope="col">Course Name</th>
          {% endif %}
            {% for course in course %}
            <tr>
                <td>{{ course[0] }}</td>
                <td>{{ course[1] }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    {% endif %}
   </div>
</body>
</html>