<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Summary</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/styles.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: #25274d;">
    <nav class="navbar navbar-thick-blue bg-light" >
      <pre> <h1>   INDIAN INSTITUTE OF TECHNOLOGY INDORE</h1></pre>
      
   </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >

      <a class="navbar-brand" href="#">Semester Timetable</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="/">Home<span class="sr-only"></span></a>
              </li>
          </ul>
      </div>
    </nav>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <br> 
    <div class="card" style="display: flex;margin: auto 600px; padding: 25px;">  
    <form action="/sem_timetable" method="POST" class="summaryForm" style="margin: auto ; align-items: center; justify-content: center; ">
      <h4>Select Semester:</h4>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="semester" id="spring"  value="Spring">
            <label class="form-check-label" for="spring">
              Spring
            </label>
        </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="semester" id="autumn" value="Autumn" checked>
            <label class="form-check-label" for="autumn">
              Autumn
            </label>
        </div>
<hr>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="year" class="col-form-label" style="font-size: 1.2rem;font-weight: bold;">Year:</label>
            </div>
            <div class="col-auto">
              <input type="number" id="year" name="year" class="form-control">
            </div>
            <div class="col-auto"></div>
        </div>

        <button class="btn btn-success" id="getSummaryBtn" style="margin-left: auto; margin-right: auto; width: 50%; margin-top: 10px;">Submit</button>
  </form>
</div>
  <br>

  {% if courseDetails|length == 0 %}
  <h4 align="center" style="color: red; margin: 5px; font-size: 2.1rem;">No Courses to Show   </h4> 
  {% else %}
  <div class="container my-3">
  <table class="table table-success table-stripped">
    <thead >
        <tr>
            <th scope="col">Course ID</th>
            <th scope="col">Course Name</th>
            <th scope="col">Department Name</th>
            <th scope="col">Faculty ID</th>
            <th scope="col"> Faculty Name</th>
            <th scope="col">Weekday</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Semester</th>
            <th scope="col">Room Number</th>
            <th scope="col">Year</th>
        </tr>
    </thead>
    <tbody class="tbody">
      {% for course in courseDetails %}
      <tr>
        <td>{{ course[0] }}</td>
        <td>{{ course[1] }}</td>
        <td>{{ course[2] }}</td>
        <td>{{ course[3] }}</td>
        <td>{{ course[4] }}</td>
        <td>{{ course[5] }}</td>
        <td>{{ course[6] }}</td>
        <td>{{ course[7] }}</td>
        <td>{{ course[8] }}</td>
        <td>{{ course[9] }}</td>
        <td>{{ course[10] }}</td>
      </tr>
      {% endfor %}  
      </tbody>
  </table>
</div>
  {% endif %}


  



    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
